<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IntegracionDBBEntities" connectionString="metadata=res://*/ModelAwita.csdl|res://*/ModelAwita.ssdl|res://*/ModelAwita.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JARVIS\SQLEXPRESS;initial catalog=IntegracionDBB;persist security info=True;user id=jesus;password=12345;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>